{% extends 'base.html.twig' %}

{% block title %}Zgłoś nowy przystanek{% endblock %}

{% block body %}
<style>
    .example-wrapper { background-color:White; margin: 5em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; border-style:dashed; border-color: #ccc !important;border-radius: 20px !important;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
    .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
    .button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
}

</style>


<div class="example-wrapper" style="vertical-align: middle">
    <h1 style="margin: 80px;">Zaproponuj przystanek</h1>
    {{form_start(our_form.Adres)}}
    {{form_start(our_form.Opis)}}
    {{form_start(our_form.Pliki)}}
    {{form_widget(our_form)}}

    <input type="submit" class="button button2" style="margin: 30px; margin-left:280px"value="Wyślij"/>
    {{form_end(our_form)}}

</div>

{% endblock %}
